[2017-03-01 22:22] peterfoot opened #1 "Implement ms-appx scheme support for embedded asset files"

[2017-03-01 22:37] peterfoot opened #2 "Support looping playback"

[2017-03-03 15:46] peterfoot commented on #2
Implemented in 1.0.2017.3.3

[2017-03-03 15:46] #2 closed, assigned to peterfoot

[2017-03-06 13:47] peterfoot commented on #1
Done. For iOS these are BundleResource files, for Android these are items in Resources/raw.

[2017-03-06 13:47] #1 closed, assigned to peterfoot

[2017-03-06 13:48] peterfoot opened #3 "Add Windows Phone 8.1 Silverlight renderer for MediaElement"

[2017-03-06 13:52] peterfoot opened #4 "Uri scheme for items in the application data folder (ms-appdata)"

[2017-03-15 10:59] escamoteur commented on #3
VS2017 does no longer support WIndows Phone 8.1

[2017-03-16 09:29] peterfoot commented on #3
At the moment the project is still in a VS2015 solution. If there is demand I can add a Silverlight renderer. I've already added Windows 8.1 and Windows Phone 8.1.

[2017-03-18 11:53] charlesroddie opened #5 "Getting or setting Position does nothing on UWP"
On UWP, it is possible to get or set the position property but the property is unrelated to the state of the video.

Setting the position does not cause the video position to change, and the property does not change as the video is playing.

I have not tested on other platforms.

[2017-03-18 12:37] charlesroddie commented on #5
Same on Windows 8.1

[2017-03-27 21:07] #4 closed, assigned to nobody

[2017-03-31 13:37] peterfoot opened #6 "Add macOS target"

[2017-03-31 14:26] #3 closed, assigned to nobody

[2017-04-19 21:48] peterfoot commented on #5
Fixed for UWP 1.0.2017.419. Keeping open for WinRT/wp81

[2017-05-24 21:13] biapar opened #7 "Do it support tap gesture?"
Hi,

I tried the code:
                                    var tapGestureRecognizer = new TapGestureRecognizer();
                                    tapGestureRecognizer.Tapped += OnTapGestureRecognizerTapped;
                                    myvideo.GestureRecognizers.Add(tapGestureRecognizer);

but the event is not fired.
Do it support the tap event?

[2017-05-24 21:16] peterfoot commented on #7
I don't think this is currently supported because the native video element listens for taps to play/pause the video. I will need to investigate if there is a workaround.

[2017-05-25 20:23] biapar commented on #7
Hi, I tried to remove the custom tap gesture, but if I tap on video, it do not start.

[2017-06-04 15:08] ozzy1873 opened #8 "NRE on Windows UWP"
I'm seeing an occasional NRE. It's intermittent and I have not found a way to repro. Any ideas?

Fatal 04/06/2017 08:19:06 App_UnhandledException System.NullReferenceException: Arg_NullReferenceException
   at InTheHand.Forms.Platform.WinRT.MediaElementRenderer.Control_SeekCompleted(Object sender, UI.Xaml.RoutedEventArgs e)
   at Windows.UI.Xaml.Media.Imaging.DownloadProgressEventHandler.Invoke(Ob

[2017-06-06 11:21] peterfoot commented on #8
I could see this happening if the renderer is detatched from the element and a seek operation is already in progress. This would mean the Element property would be null when the SeekCompleted handler is called. I will add some extra protection around this.

[2017-06-06 11:22] peterfoot commented on #7
This will require some extra work and possibly a method to enable/disable it.

[2017-07-13 20:51] peterfoot commented on #5
Renderers are now shared, fixed across Windows

[2017-07-13 20:51] #5 closed, assigned to peterfoot

[2017-07-13 20:55] peterfoot opened #9 "Android: Stretch.Fill doesn't stretch - Aspect ratio is always enforced"
For consistency with other platforms this value should stretch the video to fill the Element even if the aspect ratio is different causes it to change the proportions of the video.

[2017-07-18 15:33] mwpb commented on #5
On Win81/UWP:
Setting position seems to work, but it doesn't like to be set to the same position twice. Nothing happens in this case.
A workaround is to add a small random number when setting.
Can give minimal example if needed.

[2017-07-26 14:38] mwpb opened #10 "Set Position Doesn't Work as Expected on iOS"
Hi and thank you for making this useful package!

I'm having trouble using the setter for the Position with the InTheHand.Forms MediaElement on iOS. On Android and Windows I can do the following:

[code]

and the position is set as expected. On iOS on the other hand there is a bit of a stutter and then the video resumes from the old position without getting updated.

I have used the trick describe

[2017-07-26 14:42] mwpb commented on #10
Please find a minimal example in the following repo:

https://github.com/mwpb/InTheHandSetPosition

[2017-07-26 15:27] peterfoot commented on #10
Thanks, reproduced the issue and have been working on a fix. Just need to test for regression on the other platforms.

[2017-07-26 15:28] charlesroddie commented on #10
Thanks for fast response Peter!

[2017-08-01 06:29] hashimks opened #11 "Android MediaMetadataRetriever Performance"
Hello,

I just tried this plugin in Xamarin. I have an issue here.  I am showing a list of videos on a page and selecting it needs to show the video page. Here the problem is when I tried to select it, the next page navigation is taking long as it is trying to load the video which is causing issues. Is there anything we can do here to navigate page fast and the video plays on clicking the play but

[2017-08-01 08:20] mwpb commented on #10
Hi Peter, thanks for correcting this!

I see that you have updated the git repo but at the moment we are using the NuGet package which appears to be the same (version 1.0.2017.718). Do you think that the NuGet package will be updated soon? Or would it be better for us to try and build from the git repo?

Also it should be possible for me to help test out the set position changes on Windows 8, iOS

[2017-08-04 12:46] peterfoot commented on #11
How/when are you setting the source for the MediaElement? Is the issue on a single platform or across multiple platforms?

[2017-08-04 12:48] peterfoot commented on #10
Thanks, I intended to update the NuGet package this week but have had problems with Visual Studio building the full set of binaries. If you use the git source it uses the new code for position which works much more efficiently. If you can test on those platforms and report back your findings that would be very useful!

[2017-08-07 15:11] mwpb commented on #10
Hi, I had a few problems building from the git repo but am now using the updated NuGet package 1.0.2017.804. With this new NuGet package set position seems to work as expected on iOS 10.3 Simulator and Windows 8. Thanks for correcting this. Will test on an iOS 9 device shortly.

However there seems to be a regression on Android: the video doesn't load at all and when I try to load it via a button

[2017-08-07 17:12] mwpb commented on #10
Also: if the video hasn't fully loaded on iOS then calling set position causes a crash.

[2017-08-07 22:47] peterfoot commented on #10
I will look into these issues (as well as addressing why the code doesn't build directly from the repo) this week

[2017-08-08 07:40] RonnyCoder opened #12 "Android: MediaElement.Source crash"
I want to play audio file. First, I am recording audio and then wanted to play it. For iOS and Windows its working perfectly fine but for android its crashing.  Source - address of file.
Can you please help me out.

crashing at  _view.SetVideoURI(global::Android.Net.Uri.Parse(Element.Source.ToString()));
Do I need to create renderer ?

[2017-08-08 08:17] mwpb commented on #10
Thanks, to save you some time: I can actually build directly from the repo. It turns out the problem was at my end when I was trying to integrate it with my main project.

About the iOS crash, perhaps it might be convenient to have some way of knowing when the video has loaded? (On Windows 8 and and iOS the buffering progress always seems to give 0 and MediaOpened doesn't fire either.) Then one co

[2017-08-08 09:11] peterfoot commented on #10
Android Source issue will be followed up in this separate issue - https://github.com/inthehand/InTheHand.Forms/issues/12

[2017-08-08 09:32] RonnyCoder commented on #12
FYI ,
**Source**  path =  _/data/data/MyProject.Android/files/97a6d9e3-0ad3-47c3-818f-f264efd8abcc.wav_
mediaElement.Source = new Uri(path);

Result:
System.ArgumentNullException has been thrown
Value cannot be null.
Parameter name: String

[2017-08-08 09:54] mwpb commented on #12
In case it helps, here is an example which also crashes for Android with NuGet package 1.0.2017.804:

https://github.com/mwpb/InTheHandSetPosition

it worked ok with the previous NuGet package.

I don't have access to my testing devices right now, but I think that to reproduce the crash one should click 'Load Video'. I think if you look at the stack trace there are some paths that shouldn't be the

[2017-08-08 11:32] peterfoot commented on #8
Closing as this should be addressed in 804 release

[2017-08-08 11:32] #8 closed, assigned to peterfoot

[2017-08-10 14:07] peterfoot commented on #12
Fixed in 1.2017.810 source and NuGet

[2017-08-10 14:07] #12 closed, assigned to peterfoot

[2017-08-10 14:08] peterfoot commented on #10
Fixed in 1.2017.810 iOS will now check the reported valid seek ranges from the native control so will not allow the position to be set if not valid including if the asset is not yet ready to play.

[2017-08-10 14:08] #10 closed, assigned to peterfoot

[2017-08-11 10:09] mwpb commented on #10
Hi, just to confirm: this appears to be working now in my main project. Thanks!

[2017-08-11 10:33] mwpb commented on #12
Thanks: can confirm this works for the sample project above.

[2017-08-15 15:12] arivera12 opened #13 "green screen video preview on android"

[2017-08-15 15:24] #13 closed, assigned to nobody

[2017-08-15 17:58] arivera12 opened #14 "FullScreen Option in Android"
I don't see the FullScreen option on the media player is this implemented? I can't check this yet on iOS but in Android there is no FullScreen options being displayed. My source is from the sample.
[Sample Source](https://github.com/inthehand/InTheHand.Forms/blob/master/MediaPlayerSample/MediaPlayerSample/MainPage.xaml)

[2017-08-17 12:20] RonnyCoder commented on #12
Thanks

[2017-08-29 13:28] hashimks opened #15 "Video not playing"
Hello I have taken a low compression video using Plugin.Media and uploaded to S#

https://s3.amazonaws.com/hashimsbucket/5131484024127625850bd.mov

When i try to play this video in Android mobiles and iOS simulator, it is playing. However I am not able to play this video in iOS devices? It is showing like below. Can you please help me resolve this?

![6ca4b554448e3a4f78a83c490fe928a22fda46a126a3f3

[2017-08-30 08:28] hashimks commented on #15
@peterfoot Hello is there anything you found out? I guess its the probelm with video's audio which is AMR narrow band... does this player supports AMR audio?

[2017-08-30 08:44] peterfoot commented on #15
What version of iOS are you running it on? According to the Apple docs AMR should be supported for playback on iOS but not for recording. The MediaElement will support any codecs the OS supports since it uses the AVPlayer API on iOS.

[2017-09-12 15:42] peterfoot opened #18 "MediaElement - Add UWP support for HTTP headers"

[2017-09-18 22:23] developer04 opened #20 "Play Local Files?"
Hello,

This is a question,

Does Media Player support Local Files?
if I storage a video from an url can I play it offline?

regards

[2017-09-18 22:26] charlesroddie commented on #20
Yes it supports both web links and local files.

[2017-09-20 09:48] hectorast opened #21 "MediaElement doesn't work in IOS"
I have install InTheHand Nudget version 1.0.2017.712 due to Xaml.Forms version (I have install version 2.3.4.224) and I cannot upgrade Xaml.Forms due to proyect requeriments.
When I tried to add MediaElement in the View, in Android works but in IOS only show BackgroundColor defined.

Any solutions?

Thank you.

[2017-09-20 16:50] developer04 commented on #20
Thanks for the quick answer.

I actually download the video from tue url and save it in a byte[]. Is that the correct way to storage for play then local? or can you sugest the correct way please.

regards

[2017-09-20 17:09] charlesroddie commented on #20
save as a file and give the path

[2017-09-22 10:43] tonyleone1964 commented on #12
we use the 810...and i have this situation:

android 6.0 with this url: https://mnmedias.api.telequebec.tv/m3u8/29880.m3u8 - result crash
windows 10 uwp - dont crash but dont play the video only first frame

with this url:
http://techslides.com/demos/sample-videos/small.mp4

win10 uwp-ok
android 6.0 - ok
android 5.0 - crash

the inthehand.form support hls ? wich format type can i use for uwp, andr

[2017-09-27 13:06] #20 closed, assigned to nobody

[2017-09-28 09:34] hashimks opened #23 "Youtube/Vimeo videos"
Hello,

Just wanted to know whether this plays video from youtube and vimeo?

[2017-09-28 14:13] peterfoot commented on #23
No, they don't expose the raw video stream so you have to use their own HTML interface.

[2017-09-28 14:13] #23 closed, assigned to nobody

[2017-09-29 13:45] wanderson-ra opened #24 "Video List Playback"
I can view a list of streaming videos automatically: How can I do this?

[2017-10-04 10:19] sbal434 commented on #20
Hi there, just following up to this, how exactly will the Source variable look like for local files? Specifically, if that file has been added to the shared class of a Xamarin Forms app.

[2017-10-04 10:36] peterfoot commented on #20
If the file is part of the app package e.g. Resources/raw for Android then you can use ms-appx::/// followed by the filename. If it is part of the applications data you can pass either the full path as a file:/// Uri or the local path as a ms-appdata:/// Uri. The two ms-* schemes were added for cross-platform use and compatibility with UWP but we may introduce new schemas for these two "special" l

[2017-10-17 16:47] developer04 commented on #20
It works perfectly, thank you!

[2017-10-17 21:11] danieltabarest commented on #11
the same issue, when loading a next page navigation is taking long, some new result with this issue

[2017-10-21 11:12] peterfoot commented on #21
I've not seen this and would need more detail - what kind of source Uri are you using? Although the NuGet depends on Xamarin.Forms 2.3.4.247 this is only a bugfix update from 224 so I'd recommend updating it so you can get the latest version (1.0.2017.1021)

[2017-10-24 11:26] jelle-vdst commented on #21
I'm exeriencing the same issue, working with the latest nuget version. Uwp and android both work fine, IOS only shows the BackgroundColorDefined. I'm using the same uri used in the example app. The issue occures on both IOS emulators i've tried (iphone 8 and iphone x both using IOS11), i haven't been able to test it on a real device yet.

[2017-10-24 13:56] jelle-vdst commented on #21
I've tested it on a real device and the problem still persists

[2017-10-24 14:25] jelle-vdst commented on #21
Found what was causing the problem for me.

I still needed to manually add following line of code to the FinishedLaunching method in IOS
InTheHand.Forms.Platform.iOS.InTheHandForms.Init();

[2017-10-24 19:10] wesoos opened #26 "Rtsp"
Hello, does this player support RTSP streams?

Thanks

[2017-11-07 23:27] lrolleman commented on #10
This appears to have regressed since it was closed, most recent package (1.0.2017.1107) no longer works when setting the position on Android (and possibly other platforms as well, will check).

810 still works, not sure which release along the way it broke on.

[2017-11-16 08:52] SMSteve commented on #10
I had this error, but it turned out to be the NSUrl.FromString on line 153 of iOS.MediaElementRenderer returning NULL.
After integrating the MediaElement code directly into my solution and debugging, I found that by removing any spaces or 'special characters' (like '%20') from the url allowed NSUrl.FromString to process the Element.Source.
Now the Nuget package v1.0.2017.1113 works.

[2017-11-17 03:29] closetoyou293 commented on #11
I had performance issue in Android. It takes 20-30 seconds to show video. My project uses Xamarin Form.

[2017-11-17 09:19] peterfoot commented on #11
Where is the source video file, what kind of Uri are you using?

[2017-11-17 12:52] danieltabarest commented on #11
Hey @peterfoot I am using on the xaml this code, I am using the a video example
<forms:MediaElement HorizontalOptions="Fill" BackgroundColor="Green" VerticalOptions="Center" HeightRequest="180" x:Name="Media" IsLooping="True"  AreTransportControlsEnabled="true" Source="http://video.ch9.ms/ch9/334f/891b78a5-642d-40b4-8d02-ff40ffdd334f/LoginToLinkedinUSingXamarinAuth_mid.mp4"/>

But it takes a lot o

[2017-11-19 05:32] Reza-Mortazavi opened #27 "Can't play this video after recent vs and xamarin update"
I'm not sure if this is the real reason or not but I tried the package for the first time with exact sample code and default media link after installing recent updates for vs 2017 and Xamarin forms and I get message "Can't play this video" while I can open the media with PC web browser but not emulator's browser.

1. What extensions and codecs are supported as streamed video?
2. What are the minim

[2017-11-20 01:51] dationguyen commented on #21
InTheHand.Forms.Platform.iOS.InTheHandForms.Init(); solve this issue

[2017-11-20 01:52] dationguyen commented on #14
+1
i am facing the same problem.

[2017-11-20 01:54] dationguyen commented on #9
I have the same concern about UniformToFill option.

[2017-11-20 10:52] peterfoot commented on #9
What's the problem with UniformToFill? This preserves aspect ratio and expands to fill the container, cropping if necessary.

[2017-11-20 12:01] dationguyen commented on #9
Hi Peter,
The below picture is what I have with UniformToFill. I expect to let it fill the frame but not change the ratio.
![screenshot_20171120-225333](https://user-images.githubusercontent.com/26321444/33017354-30ec1214-ce46-11e7-81a3-1da935d14f9f.png)

Best regards,
Datio Nguyen

[2017-11-22 05:29] dationguyen opened #28 "observer object was not disposed manually with Dispose()"
Hi Guys,

I have faced a problem with MediaElement on xamarin form ios.
whenever I try to dispose the page that contains MediaElement. the debugger will show the error
![image](https://user-images.githubusercontent.com/26321444/33111418-15a98a6a-cfa2-11e7-9813-753776f425e6.png)

Is there any way to solve this?

                                    <video:MediaElement  Source="{Binding post.media_ur

[2017-11-22 13:47] jelle-vdst opened #29 "Xamarin Forms 2.5 support?"
I was wondering if the new 2.5 release is supported?
I have you're nuget package perfectly working before 2.5, but it's not working after upgrading.
(I haven't yet been able to determine the exact cause of the issue, might also be a xamarin bug ofcourse)

UPDATE: ios & android still working, only uwp has a problem

[2017-11-23 04:45] closetoyou293 commented on #11
It seems loading metadata is a problem.
It takes 1-2 second to set uri into MediaMetadataRetriever and 6-7 second to extract metadata.

[2017-11-23 09:59] peterfoot commented on #11
Looking into this, the metadata is required in order to get the video frame size so either needs performance resolving or running this in a separate thread which can then update the video stretch when retrieved...

[2017-11-23 10:00] #21 closed, assigned to nobody

[2017-11-23 10:01] peterfoot commented on #27
Are you using Xamarin Forms 2.5? if so this could be related to another issue raised for that...

[2017-11-23 10:02] peterfoot commented on #29
Investigating compatibility

[2017-11-23 13:11] SMSteve commented on #14
+1

[2017-11-23 15:23] Reza-Mortazavi commented on #27
Shared Project
Xamarin Forms 2.5.0.91635 in VS 2017
min Android version 4.1 compiled by Android 8 - emulator 8
using InTheHand.Forms source, not Package

My first experience with movies on Xamarin and after this post, I found out this maybe something related to emulator limitations, ie, emulator may fail to show the movie but same movie with same code can be played on actual device.
A little bit s

[2017-11-23 15:58] peterfoot commented on #27
The emulators may not have all the Codecs required and so playback should be confirmed on a real device. I'm investigating a compatibility issue with Forms 2.5, they've probably changed something in the renderers which has broken something

[2017-11-24 02:19] dationguyen opened #30 "[Android] java.io.FileNotFoundException: No content provider:"
Hi Guys,
I am facing an issue on android platform.
When i am trying to play some video an message keep showing
"Can't play this video" when I click Ok the dialogbox will close and open again.
error message in debug is :

[MediaPlayer] setDataSource IOException | SecurityException happend :
[MediaPlayer] java.io.FileNotFoundException: No content provider: http://www.twelfy.com/iphone/twelty_app/ser

[2017-11-24 03:02] dationguyen commented on #28
Hi Peter,
do we need to dispose this one ?
private _avPlayerViewController

best regards,
Dat Nguyen

[2017-11-27 22:15] jkalexander opened #31 "UWP 'System.StackOverflowException' in InTheHand.Forms.Platform.UWP.dll"
Hi, I absolutely love this package.  Has made showing videos very easy.

I am building a UWP, iOS, and Android application, and am running into a 'System.StackOverflowException' in InTheHand.Forms.Platform.UWP.dll error.

I am using Xamarin.Forms 2.4.0.282 (although have also tried with 2.4.0.280 and 2.5.0.91635) and am playing a video that is recorded from the camera.  I can confirm the video is

[2017-11-28 11:41] hashimks commented on #15
Hello.. i have actually taken this video from an android device where the recorded video is this and the same is stored in S3. This video then I tried to access in iOS with this player  and not able to play. I am running iOS 10.2

[2017-12-01 07:06] dationguyen opened #32 "Error looping when URL not correct in Android"
Hi guys,
I just find out that when you set an incorrect URI to source, the popup "can't play this video" will show infinity (unable to close it)
the problem comes from this method in the renderer
[code]
Hope we can fix it soon
Best regards,
Dat Nguyen

[2017-12-04 03:19] dationguyen commented on #28
how to fix it:
`    protected override void Dispose(bool disposing)
        {
            if(_notificationHandle != null)
            {
                NSNotificationCenter.DefaultCenter.RemoveObserver(_notificationHandle);
                _notificationHandle = null;
            }

            if(observer != null)
            {
                item.RemoveObserver(observer,"status");

[2017-12-04 03:19] #28 closed, assigned to peterfoot

[2017-12-13 14:26] peterfoot commented on #31
Fixed in 10.2017.1213

[2017-12-13 14:26] #31 closed, assigned to peterfoot

[2017-12-13 20:29] JohnGalt1717 commented on #18
Please also add the same for Android. This is required to play back Azure Media Services JWT token encrypted videos. (ios has an ugly hack because of it's failure to implement standards correctly)

[2017-12-13 20:29] JohnGalt1717 commented on #14
+1

[2017-12-13 20:39] peterfoot commented on #18
The Android control already supports the HttpHeaders property, it's just the UWP renderer they are currently missing from.

[2017-12-13 20:42] JohnGalt1717 commented on #18
Great! How does one reference it from the shared library?

[2017-12-13 20:46] peterfoot commented on #18
Something like this assuming your control has an x:Name of MediaPlayer
MediaPlayer.HttpHeaders.Add("header-name","value");

These must be set prior to setting the Source property.

[2017-12-13 22:35] dationguyen commented on #30
Hi guys,
I just find out that when you set an incorrect URI to source, the popup "can't play this video" will show infinity (unable to close it)
the problem comes from this method in the renderer

[code]

Best regards,
Dat Nguyen

[2017-12-17 08:23] mostafa901 opened #33 "AutoView"
Hi, Thank you for this tool. A quick question, Does AutoView shows Video or Image depending on source, if not can we add this feature.
additionally, can we have an example of how to implement AutoView, as it is not shown in the example Folder.

Thanks

[2017-12-19 20:07] jlmacedo opened #34 "Didn't find class "...MediaElementRenderer""
Hi, thanks by this plugin.

I'm have this problem:

Java.Lang.ClassNotFoundException: Didn't find class "md5d086c3823a5e44495afd3af7e3c70d47.MediaElementRenderer"

Details:
Xamarin.Forms: 2.4.0.18342

**Status: Fixed **

**Solution: Rebuild Solution**

[2017-12-19 20:38] #34 closed, assigned to nobody

[2018-01-02 15:30] JohnGalt1717 opened #35 "setDataSource Failed Android with header"
I have videos inside Azure Media services. They require a Bearer Token be passed with a header for Android (iOS is a different mess but works fine).

So I am doing the following using your video player:

`                        if (Media.HttpHeaders.Any(h => h.Key == "Authorization"))
                            Media.HttpHeaders.Remove("Authorization");

                        Media.HttpHeaders

[2018-01-06 22:45] jgongway opened #36 "Does the media player have volume control?"
Don't see the implementation, it's really important to be able to change the volume for any media player.

Thanks.

[2018-01-11 17:15] GreYak opened #37 "IOS : MediaElement not found in InTheHand.Forms"
Hi,

I am working with Xamarin.Forms 2.5.0.122203 and I meet the following mistake on IOS 11.2 ( when everything works perfectly on with Uwp and Android)  :
`
Xamarin.Forms.Xaml.XamlParseException: Position 8:10. Type inthehand:MediaElement not found in xmlns clr-namespace:InTheHand.Forms;assembly=InTheHand.Forms`

My xaml is the following :
[code]

Do I something wrong ? Or is it bug in the API ?

[2018-01-12 18:12] peterfoot commented on #37
I've not seen that one before. Are you calling InTheHandForms.Init() in the AppDelegate during startup?

[2018-01-13 19:45] ozzy1873 commented on #29
I also have a problem on UWP after upgrading with the control crashing the app upon instantiation of the page on which it is embedded.

[2018-01-15 09:24] GreYak commented on #37
No, i didn't...
After initializing, it seems being ok. Thanks a lot.

I didn't see before, that Init() has to be done in each project targeting specific platform.
Is there a way to unify this one into the common app ?

[2018-01-15 09:33] peterfoot commented on #37
Sadly not currently - these init methods are in each platform specific library as they force Xamarin to register the renderers. There is a possibility that something like this might be possible when building the library but I haven't tried it yet - https://github.com/Fody/ModuleInit

[2018-01-15 09:47] GreYak commented on #37
Ok, thank you so much for your answers and work, Peter ! :)

[2018-01-15 21:12] jonathan-austen opened #38 "Can't load local MP4"
Your control works great if I load a video from the internet, but I want to load an MP4 video file that's embedded with my code. How do I set the Source? I've tried things like putting the MP4 in the Resources/drawable directory. I even created a raw directory under Resources and put as my Source="./raw/filename.mp4" but nothing.

[2018-01-15 21:22] peterfoot commented on #38
For a file embedded in the package you can use the ms-appx uri scheme. On android this specifies a file placed in the resources/raw folder (ensure the Build Action is AndroidResource. e.g.
ms-appx:///Filename.mp4

[2018-01-15 21:26] jonathan-austen commented on #38
Holy crap that worked. I've been searching for hours and then decided to ask. Thank you!!

[2018-01-15 21:27] jonathan-austen commented on #38
So, this is my Xamarin forms .cs code. I'm guessing this snippet only works for Android. What do I have to do to make it work for iOS?

        protected override void OnAppearing()
        {
            Media.Source = new Uri("ms-appx:///GD_video_trimmed.mp4");
            if (Media.CurrentState != InTheHand.Forms.MediaElementState.Playing)
            {
                Media.Play();

[2018-01-15 21:48] peterfoot commented on #38
No problem, it's my fault for not documenting it clearly because those uri schemes are borrowed from UWP development. On iOS you add the file as a BundleResource and the path is relative to the root of the project so your GD_video_trimmed.mp4 from the above example would go in the root folder of your iOS project with build action BundleResource.

[2018-01-15 21:57] jonathan-austen commented on #38
Thanks. So I guess that means this line of code (Media.Source = new Uri("ms-appx:///GD_video_trimmed.mp4");) stays the same. You've been a huge help. Thank you for this project.

[2018-01-15 22:03] jonathan-austen opened #39 "Video Freezes OnDisplay"
When I load the video on my MainPage.xaml page and leave, then come back to that page the video doesn't restart. The audio restarts, just not the video. Here, let me draw it out for you so it's clear.

When the page loads for the first time, the OnAppearing is fired and the video is loaded and begins playing. Everything is cool. The user clicks the page and it moves to another page at which point

[2018-01-16 16:04] jonathan-austen commented on #39
I think I figured it out. If I set the Media.Source = NULL then when I return to the page the video starts all over.

        protected override void OnDisappearing()
        {
            if (Media.CurrentState == InTheHand.Forms.MediaElementState.Playing)
            {
                Media.Stop();
                Media.Source = null;
            }
        }

[2018-01-16 16:05] jonathan-austen commented on #39
Nope. That didn't do it. Still freezes. Hmm. I thought for sure that would fix it.

[2018-01-18 09:25] aftersow opened #40 "Implement via C#"
Hi there,

Trialing out the MediaElement to display a video via a code behind but don't seem to be having any luck. I couldn't find much about implementing besides XAML. Below is a snippet of my code. Currently the output is just a blank section where it should be (no errors or anything of note in the log)

[code]

Any guidance would be great!

Thanks

[2018-01-25 15:16] brenttaft opened #41 "How to catch exceptions"
I am trying InTheHand Media player - and so far it works great.   However, I did notice that if i try to play a video file that is corrupted - it will crash my app.  I have the media element in XAML and using data binding to play the video.   Is there a way to prevent to catch these exceptions so the whole app doesn't go crash?

[2018-01-25 15:46] peterfoot commented on #40
If the control doesn't appear to be rendering anything check that in your device project you are calling the init method e.g.

iOS - AppDelegate FinishedLaunching
InTheHand.Forms.Platform.iOS.InTheHandForms.Init();

Android - MainActivity OnCreate
InTheHand.Forms.Platform.Android.InTheHandForms.Init();

[2018-01-25 15:47] peterfoot commented on #36
Not currently, this would be a useful addition though probably handled separately application-wide rather than specific to control

[2018-01-25 15:48] peterfoot commented on #41
This is possibly in the code used to load the metadata, are there any clues in the stacktrace?

[2018-01-25 15:58] brenttaft commented on #41
Hi Peter,

Thanks for getting back to me – here is the crash dump

java.lang.RuntimeException: setDataSource failed: status = 0x80000000
at android.media.MediaMetadataRetriever.setDataSource(Native Method)
at android.media.MediaMetadataRetriever.setDataSource(MediaMetadataRetriever.java:72)
at mono.java.lang.RunnableImplementor.n_run(Native Method)
at mono.java.lang.RunnableImplementor.run(Runnabl

[2018-01-28 03:34] kwacks opened #42 "Is there any way to set the background image on MediaElement control?"
There isn't an exposed property and we'd like to replace the blank black background

[2018-02-02 14:25] jonathan-austen commented on #39
Any idea why the video won't restart after it's been stopped?

[2018-02-02 14:30] jonathan-austen opened #43 "Video Won't Restart"
When I do a PopToRootAsync() and load up the main page which is using your video control, the video is stopped. The Media.CurrentState says it's Playing but it's not. It's frozen.

[2018-02-02 14:40] jonathan-austen commented on #43
I've been able to narrow it down to that when the application I wrote opens the camera to take a picture and returns to the app, the video then freezes. Any idea why?

[2018-02-02 16:56] peterfoot commented on #43
Do you have any code to pause/stop the video when the page is navigated away from?

[2018-02-02 17:41] jonathan-austen commented on #43
No

[2018-02-02 17:48] jonathan-austen commented on #43
Oh and if I say Movie.Play() even when the STATE says it's stopped, it won't play.

[2018-02-02 18:25] jonathan-austen commented on #43
I think I got it and want to share with your users. In the code below, I added the first line, which adds a new copy of my MainPage. That is where my video is looping. By doing that, it puts a 2nd one in the stack, then I clear the stack to the root and the program returns to the main page and the video plays as expected. I'm sure this isn't ideal, but it works and the end result does not have any

[2018-02-04 10:58] closetoyou293 opened #44 "AutoViewCell crashes on iOS"
I used AutoViewCell code in iOS to show a list of post. Post contains image, text, comment, etc.
It crashes when I navigate to that screen in second time. Any idea?
`0x00000001027ffd10 0x00000001027e795c 0x0000000101918db8 0x0000000101965088 0x00000001018c2b68 0x0000000101233db8 0x00000001011701e8 0x000000010113a2c8 0x0000000101170118 0x000000010114a418 0x0000000101960ed8 0x00000001019862d8 0x0000

[2018-02-06 09:44] stephenmante commented on #14
+1

[2018-02-06 10:07] peterfoot commented on #44
I have seen this intermittently but don't know the cause yet

[2018-02-06 10:12] peterfoot commented on #14
Looking into this. The Android implementation looks a little trickier since we have to place the control fullscreen and also control the statusbar etc for the running activity. iOS and Windows have built in support in the native control.

[2018-02-09 02:14] closetoyou293 commented on #44
Work around by clearing list before update item source. It seems problem comes from XF.

[2018-02-19 15:59] joseluisct commented on #29
I think I have same problem on UWP after upgrading. My exception is:

System.IO.FileNotFoundException: Could not load file or assembly 'InTheHand.Forms, Version=10.2018.0.0, Culture=neutral, PublicKeyToken=null'

Tested on Android, it works OK as before, but upgrading, UWP breaks on this error.

[2018-02-19 16:43] joseluisct opened #45 "UWP Crash after upgrade"
After upgrading InTheHand.Forms Nuget package to 1.0.2018.111, the UWP app crashes trying to load MediaElement, with the exception:

`System.IO.FileNotFoundException: Could not load file or assembly 'InTheHand.Forms, Version=10.2018.0.0, Culture=neutral, PublicKeyToken=null'`

Tested on Android and it works OK as before, but UWP breaks on this error.

I've tested that error also happens with versi

[2018-02-19 22:38] peterfoot commented on #45
Will look into this with an aim for fixing this week

[2018-02-20 19:25] charlesroddie commented on #45
Also getting this issue.

[2018-03-08 18:23] jdausten97 commented on #38
The video won't play in iOS. I just finally got a Mac machine to test it on. What's the URI path for Mac? Above you wrote "Media.Source = new Uri("ms-appx:///GD_video_trimmed.mp4");" but is that the path structure for Android only?

[2018-03-08 18:33] jdausten97 commented on #38
Never mind, I realized what's wrong. I checked your sample in iOS. I forgot to include this "InTheHand.Forms.Platform.iOS.InTheHandForms.Init();" in my AppDelegate.cs file

[2018-03-08 19:41] jdausten97 opened #46 "Video Won't Start on Android"
So, I have this working just fine on iOS. On Android, it won't work until I leave the page then come back to it. Here's my initial code to load the video. After that is the code that's called from the next page to return to the home page containing the video. I'll say that this used to work when I was developing on a Windows laptop but since switching to Visual Studio Mac it doesn't start.

******

[2018-03-13 04:39] #38 closed, assigned to nobody

[2018-04-02 13:38] returnZro commented on #14
i am facing the same problem too

[2018-04-19 18:55] j-sauer opened #47 "Cannot seek to start or end of MediaElement on iOS"
Setting the position of a MediaElement instance to a TimeSpan that represents 0 seconds does not work on iOS.
This is due to the implementation of IMediaElementRenderer.Seek in [MediaElementRenderer.](https://github.com/inthehand/InTheHand.Forms/blob/master/InTheHand.Forms/InTheHand.Forms.Platform.iOS/MediaElementRenderer.cs).
In line 368
`seekTo > v.CMTimeRangeValue.Start && seekTo < (v.CMTimeRan

[2018-04-19 21:40] peterfoot commented on #47
Fixed in 1.0.2018.420

[2018-04-19 21:40] #47 closed, assigned to peterfoot

[2018-04-23 11:53] charlesroddie commented on #45
Any ideas @peterfoot ?

[2018-04-23 15:31] peterfoot commented on #45
Sorry, this should now be resolved in 1.0.2018.423

[2018-04-23 15:33] #43 closed, assigned to nobody

[2018-04-23 15:33] #41 closed, assigned to nobody

[2018-04-23 15:34] #37 closed, assigned to nobody

[2018-04-23 19:43] charlesroddie commented on #45
Thanks. The new version works for me.

[2018-06-04 09:10] hashimks commented on #15
@peterfoot Hello.. it was the problem with device codec. Not an issue with the player. I am closing this. Thanks

[2018-06-04 09:10] #15 closed, assigned to nobody

[2018-06-23 14:47] andersonvieiragomeslopes opened #48 "Video in format .m3u8 and .ts"
How to play video in format .m3u8 and .ts?
It is most important for me the function, because my project run videos in this format.
Sorry my bad english, im from brazil.

[2018-07-12 06:01] noahjerreel commented on #20
Yes, it works also on my end. Thank you for this.

[2018-08-28 12:44] wvdvegt opened #49 "GetOptionsWithHeaders"
I have an issue on iOS with the latest stable version (and an older one as well).

If i specify a source like

` Media.Source = new Uri("https://<host>/<path>.mp4");`

I end up with an exception in iOS that 'Value cannot be null).

More specific error location:

[code]

[2018-08-28 12:48] wvdvegt commented on #49
Title might be a bit off.

[2018-08-28 13:37] wvdvegt commented on #49
Think i got the cause:

 **the iOS renderer does not seem to like spaces in the filename being part of the URL.**

I tried with both spaces and %20, both failed. Noticed it was reported at the end of #10

[2018-08-28 14:37] #45 closed, assigned to peterfoot

[2018-08-28 14:45] peterfoot commented on #49
Fixed in 1.0.2018.828

[2018-08-28 14:45] #49 closed, assigned to peterfoot

[2018-08-29 10:39] joseluisct commented on #45
Thanks. Also works for me :)

[2018-08-29 10:48] peterfoot commented on #48
The control will only play natively supported file formats on each platform. For m3u and m3u8 files the control won't open these directly as they are playlists rather than media however you should be able to parse the text yourself and play each file in sequence. I'm not sure how widely .ts is supported.

[2018-12-20 10:24] XamarinOrem opened #50 "Video won't play in distribution ipa (iOS)"
The video is playing properly on the iOS device and on the iOS simulator but when I made ipa to put it on either the test flight or on to the App Store, The video won't play. Tried with many video urls.

[2018-12-20 10:42] peterfoot commented on #50
Hi, have you checked your info.plist is setup to allow content from the target domain - https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CocoaKeys.html#//apple_ref/doc/uid/TP40009251-SW33

[2018-12-20 11:04] XamarinOrem commented on #50
![screen shot 2018-12-20 at 4 33 52 pm](https://user-images.githubusercontent.com/32254709/50281305-11ede980-0475-11e9-9674-5f3db21b01da.png)
These three properties are set to true in my info.plist

[2018-12-20 11:06] peterfoot commented on #50
Ok, does the appdelegate call the init method to load the renderer - otherwise the control will just be a blank rectangle -
InTheHand.Forms.Platform.iOS.InTheHandForms.Init();

[2018-12-20 11:08] XamarinOrem commented on #50
Yes I did. The video is working in the development mode, But not in the distribution mode.
![screen shot 2018-12-20 at 4 37 17 pm](https://user-images.githubusercontent.com/32254709/50281501-a35d5b80-0475-11e9-9c49-f85b0849d88a.png)

[2018-12-20 11:22] XamarinOrem commented on #50
Is there anything else that I need to set?

[2018-12-20 12:24] peterfoot commented on #50
What are your linker settings for the release build? You may need to exclude InTheHand.Forms.dll and InTheHand.Forms.Platform.iOS.dll or set it to SDK assemblies only.

[2018-12-21 05:56] XamarinOrem commented on #50
Yes it worked like a charm now! Thank you :)

[2018-12-21 05:56] #50 closed, assigned to nobody

[2018-12-24 15:04] ghost opened #51 "the control doesn't appear in iOS"
I'm using Xamarin.forms 3.0 with VS 2017 ,My problem is  the control, it  doesn't appear when I test  the iOS plateform  even after I put "InTheHand.Forms.Platform.iOS.InTheHandForms.Init()" on the AppDelegate, Any help please ?
Thank you a lot :),

[2019-01-29 13:18] RuddyOne opened #52 "UWP Video player Crash"
`has exited with code -1073741819 (0xc0000005) 'Access violation'.`

I get this error randomly when using the video player for playing local MP4 videos. It can occur at any time using the video player e.g. first load or it could be 50th (of the view appearing). Any idea what is causing this?

Note: I have images in the same location as the videos and they all work 100%, just in case we are thinkin

[2019-01-29 14:53] peterfoot commented on #52
I don't know why it would cause this. Is there anything in common about the videos which fail - are they particularly large files, same codec etc?

[2019-01-29 14:54] peterfoot commented on #51
Check your linker settings, you may need to add the InTheHand.Forms and the platform dll to the exclusions list

[2019-01-29 15:13] RuddyOne commented on #52
So they are all MP4 and the size varies from 80MB to 250MB, I am going to find the codec now.

**Update**: Codec: H264 - MPEG-4 AVC (part 10) (avc1), same for all videos.

Also this time when it crashed (on a different video it gave me the stack trace). See below.

[code]

Not sure if that is even related as I did not get 'Access violation' in the output?

[2019-02-24 13:47] mmehdidehghani opened #53 "Video can't play"
Hi
I used Xamarin.Form (Xamarin.Forms v 3.3 - .Net Standard 2.0). I can't play my videos :(
I think the problem is video codec. my videos are libx264 from ffmpeg (mp4) and player can not play them :(
But when i  use this below sample, It works:
https://archive.org/download/BigBuckBunny_328/BigBuckBunny_512kb.mp4

I don't know that my question is correct or not:
How can i set codec or install with

[2019-02-26 08:33] peterfoot commented on #53
The control uses the platform video player so for iOS this is AVMediaPlayerViewController and for Android the VideoView. It will support any codecs built into the OS. There is a reference here for Android:-
https://developer.android.com/guide/topics/media/media-formats#core

[2019-03-10 22:20] rajeshjha96 opened #54 "Is there a full screen button available to watch the videos in full screen."
Is there a full screen button available to watch the videos in full screen??/

[2019-03-10 22:25] peterfoot commented on #54
The is a button on the native iOS control. Not on the others currently.

[2019-04-10 23:28] Johno-ACSLive commented on #52
I am getting this issue as well, basically I have a URL to an MP4 video where the URL is no longer valid. If I use a native UWP mediaelement I get a message saying unable to play the file. Using this library in Xamarin.Forms running as a UWP app, my app crashes in this scenario.

If I run the same Xamarin.Forms app on Android I get a message saying the file cannot be played - the expected behaviou

[2019-05-09 20:31] nitrouscutter opened #55 "Video player doesnt work for UWP with Compile with .NET Native tool chain turned on"
I dont know why the video player wont work when turning on "Compile with .NET Native tool chain" flag in project build properties. Usually places want this flag checked to improve speed and performance when submitting to the store for final version. Any suggestions on how to make the player work with this flag checked?

[2019-05-09 20:32] nitrouscutter commented on #55
@peterfoot Also thank you this is a pretty sweet player

[2019-05-09 21:42] peterfoot commented on #55
Hi, thanks for your feedback. I believe it is an issue where we need to add an additional entry to the "Runtime Directives" file to tell the .NET Native Tools not to strip out the platform specific code - the renderer is not called directly so it is probably not identified as actually used in the app. In your Properties folder in the UWP project you should have a Default.rd.xml or similar and you

[2019-05-10 13:54] nitrouscutter commented on #55
I tried adding that assembly and it didnt seem to work. Must be something else needed with it.

[2019-05-10 14:34] nitrouscutter commented on #55
I might have found a solution Mr. @peterfoot. I added `typeof(InTheHand.Forms.Platform.UWP.ButtonLineBreakModeEffect).GetTypeInfo().Assembly`

to the assembly list in the App.xaml.bs file within the UWP project. It seemed to run the videos on UWP with compile native on. Now to test in the store

[2019-05-12 13:24] mknotzer opened #56 "Android: no internet connection blocks the app"
setting the source when offline blocks the app (xaml and c#)

[2019-05-12 13:49] mknotzer opened #57 "Android: Pause and Play are not working"

[2019-05-12 13:50] mknotzer opened #58 "iOS: play or pause without source causes NullReferenceException"

[2019-05-15 03:24] dely17 opened #59 "activity indicator doesnt disappear when video starts"
C#
        private void StopIndicator()
        {
            if (Mediaa.CurrentState != InTheHand.Forms.MediaElementState.Playing)
            {
                running.IsVisible= true;
            }
            else if (Mediaa.CurrentState == InTheHand.Forms.MediaElementState.Playing)
            {
                running.IsVisible = false;
            }
        }

[2019-08-13 10:56] PaulVrugt opened #60 "Videoplayer no longer working after updating to 2.0"
We're in the process of updating our nuget packages of our xamarin.forms apps. This package is one of the packages being updated. However, after updating to 2.0.2019.716 or higher, our video player doesn't work anymore. Neither in Android nor iOS.

We use an empty forms page with a stacklayout on it, containing a MediaElement control. We use a https url as source, and have custom headers because t

[2019-08-13 11:00] peterfoot commented on #60
That's odd. You can definitely use the v1.0 version with newer versions of XF but 2.0 has some optimisations (e.g. fast renderers). Do you definitely have the InTheHandForms.Init call in your platform project startup?

[2019-08-13 11:03] PaulVrugt commented on #60
wow that was fast. Yes I'm calling the Init. I'm sot sure what I can do to find the issue. There is no logging of anything when the player opens, and it used to work fine.

[2019-08-13 11:36] PaulVrugt commented on #60
As some extra info:
we use the component as follows:

- A webview opens a document, in which media can be embedded
- When the document contains a video, we show an image of a play button
- When the play button is clicked, we execute some code that does a pushmodalasync of the page shown in the example

We currently downgraded back to the 1.x version until the issue is found and we can upgrade agai

[2019-08-13 12:42] peterfoot commented on #60
Hi, it looks like in the transition part of the HttpHeaders implementation in the native renderer was lost and so these are not being passed. I'm working on a fix.

[2019-08-13 13:01] PaulVrugt commented on #60
Great!

[2019-08-14 20:40] peterfoot commented on #30
OnCompletion behaviour has changed so closing this, please re-open if it still occurs

[2019-08-14 20:40] #30 closed, assigned to peterfoot

[2019-08-14 20:40] #53 closed, assigned to nobody

[2019-08-14 20:52] #40 closed, assigned to nobody

[2019-08-14 20:52] #24 closed, assigned to nobody

[2019-08-14 22:28] #48 closed, assigned to nobody

[2019-08-14 22:30] #32 closed, assigned to nobody

[2019-08-14 22:31] peterfoot commented on #26
No, it's limited to the sources supported by the native video controls.

[2019-08-14 22:31] #26 closed, assigned to nobody

[2019-08-14 22:32] peterfoot commented on #11
MediaMetadataRetriever now runs in background thread to avoid blocking the UI.

[2019-08-14 22:32] #11 closed, assigned to peterfoot

[2019-08-14 22:33] #33 closed, assigned to nobody

[2019-08-14 22:34] peterfoot commented on #36
Volume property added in v2.0

[2019-08-14 22:34] #36 closed, assigned to nobody

[2019-08-14 22:35] peterfoot commented on #29
Latest v1 and v2 versions support up to Xamarin Forms 4.1

[2019-08-14 22:35] #29 closed, assigned to peterfoot

[2019-08-14 22:36] #27 closed, assigned to peterfoot

[2019-08-16 15:18] peterfoot commented on #60
This should now be fixed in the latest NuGet 2.0.2019.815

[2019-08-16 15:19] peterfoot commented on #35
Can you please re-test with the latest version and see if this is still an issue

[2019-08-16 17:34] PaulVrugt commented on #60
Nice! I'll check it out Monday!

[2019-08-19 07:43] PaulVrugt commented on #60
hurray, it works again! thanks

[2019-08-19 09:42] peterfoot commented on #55
There is another option using an overload of Forms.Init:-

// For .NET Native compilation, you have to tell Xamarin.Forms which assemblies it should scan for custom controls and renderers var rendererAssemblies = new[] { typeof(InTheHand.Forms.Platform.UWP.ButtonLineBreakModeEffect).GetTypeInfo().Assembly };

Xamarin.Forms.Forms.Init(e, rendererAssemblies);

(you can use any of the types in the pl

[2019-08-19 09:42] #55 closed, assigned to peterfoot

[2019-08-29 12:16] PaulVrugt commented on #60
@peterfoot
Hmm we ran into a little snag. I didn't test the new package myself, but a collegue told me it works now. This is true for android, but for iOS it seems even more broken than it was. Now iOS still doesn't play the video. I've debugged, and it seems in iOS the http source is not even requested (no call is ever done).

Furthermore, when closing the page that is displaying the mediaelement

[2019-08-29 15:18] peterfoot commented on #60
Sorry, I think I only read Android as the affected platform (because someone else reported just that separately). I will get back on it and attack the iOS renderer next week

[2019-09-05 09:17] peterfoot commented on #60
Hi, just an update - I've fixed the original bug where the video is not showing however I haven't done a release yet as I've found another bug with layout when the device is rotated, hope to have a fix shortly, if not a simple fix I'll release a preview nuget package to at least confirm the original issue is resolved.

[2019-09-05 20:43] peterfoot commented on #60
Please check out the latest release on NuGet

[2019-09-09 08:08] peterfoot commented on #58
Fixed in 2.0.2019.909

[2019-09-09 08:08] #58 closed, assigned to nobody

[2019-09-09 08:10] #35 closed, assigned to peterfoot

[2019-09-09 08:10] #6 closed, assigned to nobody

[2019-09-09 08:10] peterfoot commented on #6
Added in 2.0.2019.909

[2019-09-12 08:32] szsx12345 opened #62 "About video player in WPF"
Is it possible to add media player in WPF ?
I add
<forms:MediaElement HorizontalOptions="Fill" BackgroundColor="White" VerticalOptions="Center" HeightRequest="240" x:Name="Media" IsLooping="True" ShowsPlaybackControls="True" Source="http://video.ch9.ms/ch9/334f/891b78a5-642d-40b4-8d02-ff40ffdd334f/LoginToLinkedinUSingXamarinAuth_mid.mp4"/>
in the view xaml file, but wpf still can't play vedio.

[2019-09-12 21:09] peterfoot commented on #62
It's not currently completed and in the NuGet yet but should be available soon

[2019-09-13 08:52] PaulVrugt commented on #60
@peterfoot sorry for the late reply, we were a bit busy and also had trouble updating to XF4.2

I've tried the new update, and the video now also plays on iOS. However, when closing the popup containing the mediaplayer, the app crashes:

<details>
  <summary>complete error (click to expand)</summary>

**System.ArgumentNullException:** 'Value cannot be null.
Parameter name: element'

2019-09-13 10:

[2019-09-20 01:55] CYLMos opened #63 "Bind command in MediaElement"
I am using MvvmCross, and I want that when the media ends, I want to do some processes.
But I only found an event called "MediaEnd".
If I want to follow MVVM, I can't write the event method in xaml.cs.
Consequently, I need to implement a Command in MediaElement, but I don't have any idea how can I put it in.

Thanks!

[2019-09-20 08:43] CYLMos commented on #63
I think I solved it.
I ignored a property called CurrentState.
I used it to bind my property by OneWayToSource mode, and realize my process.

[2019-09-20 15:16] peterfoot commented on #63
Great, glad this works for your scenario!

[2019-09-20 15:17] #51 closed, assigned to nobody

[2019-09-20 15:17] peterfoot commented on #62
This is now available in the latest (2.0.2019.913) release

[2019-09-20 15:17] #62 closed, assigned to nobody

[2019-09-20 15:18] peterfoot commented on #60
This bug is resolved in 2.0.2019.913

[2019-09-26 09:43] PaulVrugt commented on #60
@peterfoot
I've tried 2.0.2019.913 but the problem persists. The crash log is different though. It now states that it cannot access a disposed object:

<details>
  <summary>Complete error (click to expand)</summary>

**System.ObjectDisposedException:** 'Cannot access a disposed object.
Object name: 'MediaElementRenderer'.'

2019-09-26 11:41:46.307 ***.iOS[712:214701]
Unhandled Exception:
System.Ob

[2019-10-04 11:43] PaulVrugt commented on #60
@peterfoot
Any news on this? We are still stuck on an old version. I've taken a quick look at the code, but my knowlegde of Xamarin.iOS is not extensive enough to understand what the correct solution for this issue should be.

[2019-10-04 12:14] peterfoot commented on #60
I wasn't able to replicate it - even creating a modal dialog and trying different ways to get the renderer to dispose. However I've added some more protection around the disposal which I think should avoid any chance of this happening. The latest should appear on NuGet shortly - 2.0.2019.1004

[2019-10-07 06:57] PaulVrugt commented on #60
I've tested it, and I have good and bad news. The good news is that the error about the disposed object is gone.

The bad news is that a different error is now shown. When popping the dialog, an object reference error now occurs:

System.NullReferenceException: Object reference not set to an instance of an object
  at Xamarin.Forms.Platform.iOS.DisposeHelpers.DisposeModalAndChildRenderers (Xamarin

[2019-10-14 20:28] gogolon opened #65 "Is there any way to keep the controls visible all the time?"
Hello. I'm creating an app that involves playing audio files. That NuGet seems to suit my needs, but I can't find any property that could prevent the controls from hiding. I'd like them to be visible all the time, not only when user clicks the area of the control. Is it possible?

[2019-11-05 21:50] Liminiens opened #66 "TimeSpan does not accept floating point Not-a-Number values. on iOS"
When loading a local video with `file://` Uri on Android everything is fine, but on iOS `**System.ArgumentException:** 'TimeSpan does not accept floating point Not-a-Number values.'` is thrown.

Maybe problem is [here](https://github.com/inthehand/InTheHand.Forms/blob/master/InTheHand.Forms/InTheHand.Forms.Platform.iOS/MediaElementRenderer.cs#L292)?

[2019-11-06 12:16] peterfoot commented on #66
Thanks, looking into this now.

[2019-11-06 16:28] PaulVrugt commented on #60
any news on this?

[2019-11-06 18:01] Liminiens commented on #66
@peterfoot this fixed the crush, thank you! Unrelated to original issue, but now there is a black screen instead of video, maybe because `file://` uris (`AbsoluteUrl` is passed to NSUrl constructor which contains `file://` prefix) are not handled correctly by `NSUrl` [here](https://github.com/inthehand/InTheHand.Forms/blob/master/InTheHand.Forms/InTheHand.Forms.Platform.iOS/MediaElementRenderer.cs

[2019-11-06 21:04] peterfoot commented on #66
Is your file:// uri an absolute path or relative to your app? You can also use the ms-appx:// scheme for a bundle resource or ms-appdata for a local or temp file path.

[2019-11-06 21:10] peterfoot commented on #60
Sorry, I think this was fixed in the 2.0.2019.1021 release.

[2019-11-06 21:52] Liminiens commented on #66
Yes, it’s an absolute path and I will try ms-appx tomorrow:)

[2019-11-07 08:02] PaulVrugt commented on #60
I'm afraid the 1021 version hasn't fixed the issue. It remains exactly the same. I'll try to create a repro project so we can get to the bottom of this.

[2019-11-07 10:27] Liminiens commented on #66
Hm... `ms-appx://` and `ms-appdata://` didn't work. I think we should close this issue and I will try to investigate if problem with black screen is on our side or not. Thank you!

[2019-11-07 10:50] peterfoot commented on #66
For example for a bundle resource in iOS or raw resource in Android you can use ms-appx:///myfile.mp4
For a local file saved into the apps local storage (documents in iOS) ms-appdata://local/myfile.mp4
For a file saved to the temporary directory ms-appdata://temp/myfile.mp4

[2019-11-07 12:14] peterfoot commented on #60
Thanks, that would be very helpful. What version of Xamarin Forms are you using? I will have a look at their code for DisposeHelpers and see what it is trying to do.

[2019-11-07 13:18] PaulVrugt commented on #60
I was able to replicate it in a test project, and I now also understand why you coudn't. We have a bit of a special situation in our case. The popmodalasync call to close the dialog with the videoplayer is called from within a "Device.BeginInvokeOnMainThread" method. This is because it is part of a generic method for "going back" in our app, which is not always called from the UI thread. This call

[2019-11-07 22:51] peterfoot commented on #60
Thanks, I was able to pinpoint the issue. I've reworked the Dispose method to remove the problem. Latest code is in 2.0.2019.1107

[2019-11-08 22:26] PaulVrugt commented on #60
Nice! Thanks!

[2019-11-13 15:25] peterfoot commented on #66
Hi @Liminiens any update on this or should I close this issue for now?

[2019-11-13 15:25] peterfoot commented on #65
Not currently but I'll look into it.

[2019-11-13 15:27] peterfoot commented on #54
Duplicate of #14

[2019-11-13 15:27] #54 closed, assigned to nobody

[2019-11-13 15:28] #63 closed, assigned to nobody

[2019-11-18 08:48] Liminiens commented on #66
@peterfoot sorry for late reply! Right now, on iOS files are stored in `Library` subdirectories, like `.../Library/<folder name>/<video name>`. With ms-appadata i tried `ms-appdata:///local/<folder name>/<video name>` but that didn't work.

[2019-12-17 10:01] PaulVrugt commented on #60
I'm sorry to reopen this, but it turns out we are still experiencing crashes when closing the mediaplayer dialog. Downgrading to version 1.x fixes it. There doesn't seem to be any proper stacktrace. but the error logged by the debugger is shown below.

The error doesn't actually crash the app, but it does lock it up, making it unresponsive and uncloseable.

<details>
<summary>Click to show the err

[2019-12-19 09:43] peterfoot commented on #60
Thanks, looking into this but stacktrace doesn't give much away

[2019-12-19 10:36] PaulVrugt commented on #60
yeah I know, but unfortunately there is no more data shown than this.

[2019-12-19 10:39] peterfoot commented on #60
Thanks, if it's hanging in the UI thread I have a suspicion that one of the observers is being called when the native AVPlayer is disposed and it can be fixed by changing the order of calls inside the Dispose method. It's tricky because it is probably not reproducable when the debugger is connected.

[2020-01-08 13:54] peterfoot commented on #60
Eventually had to rewrite the renderer without implementing as a FastRenderer. This is now working in 2.0.2020. Some details in this post (https://peterfoot.net/2020/01/08/mediaelement-enhancements/)

[2020-01-18 23:46] Todd442 opened #67 "Does the Volume Property work on Andriod?"
Love the work! Love the MediaElement but Volume property doesn't appear to work?

I've been assuming 1 = 100% and .5 = 50%. But the values I place in the property seem to have no effect.

What's missing?

[2020-01-20 16:47] peterfoot commented on #67
It should be working. What kind of device are you testing on and which Android version?

[2020-01-22 02:27] Todd442 commented on #67
Android 9 API 28 on a Samsung Galaxy S8.

[2020-05-31 17:48] gogolon commented on #65
If anyone else is still in need of this feature, you can now achieve that by using Xamarin.Forms experimental MediaElement and setting up your own controls.

[2020-09-18 02:00] tekmun opened #69 "Xamarin.iOS native crash _avPlayerViewController.Player.Pause();"
After upgrading to Xamarin.Forms 4.8, I encoutered crashes randomly whenever _avPlayerViewController.Player is paused. The Output window contains many rows of these outputs:

 8          124
00000046:  0128  3          2            3
00000052:  0131  2         12          132
0000005E:  0132  2         20          144
000000A6:  0100  4          4          256
000000B2:  0101  4          4

[2021-02-05 17:08] peterfoot commented on #67
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:08] #67 closed, assigned to nobody

[2021-02-05 17:08] peterfoot commented on #69
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:08] #69 closed, assigned to nobody

[2021-02-05 17:09] peterfoot commented on #66
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:09] #66 closed, assigned to peterfoot

[2021-02-05 17:09] peterfoot commented on #60
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:09] #60 closed, assigned to peterfoot

[2021-02-05 17:09] peterfoot commented on #52
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:09] #52 closed, assigned to nobody

[2021-02-05 17:09] peterfoot commented on #65
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:09] #65 closed, assigned to peterfoot

[2021-02-05 17:09] peterfoot commented on #56
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:09] #56 closed, assigned to nobody

[2021-02-05 17:10] #57 closed, assigned to nobody

[2021-02-05 17:10] peterfoot commented on #46
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:10] #46 closed, assigned to nobody

[2021-02-05 17:10] peterfoot commented on #14
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:10] #14 closed, assigned to peterfoot

[2021-02-05 17:10] peterfoot commented on #42
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:10] #42 closed, assigned to nobody

[2021-02-05 17:11] peterfoot commented on #9
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:11] #9 closed, assigned to nobody

[2021-02-05 17:11] peterfoot commented on #7
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:11] #7 closed, assigned to nobody

[2021-02-05 17:11] peterfoot commented on #18
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:11] #18 closed, assigned to peterfoot

[2021-02-05 17:11] #44 closed, assigned to peterfoot

[2021-02-05 17:12] peterfoot commented on #39
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:12] #39 closed, assigned to nobody

[2021-02-05 17:12] peterfoot commented on #59
All future MediaElement work will take place at https://github.com/xamarin/XamarinCommunityToolkit

[2021-02-05 17:12] #59 closed, assigned to nobody